name: release

on:
  push:
    tags: 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  tests:
    name: tests
    uses: "./.github/workflows/unittests.yaml"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  release:
    name: Release to Maven Central
    needs: tests
    runs-on: ubuntu-latest
    environment: github-actions
    concurrency:
      group: release-${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: false
    env:
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PASS: ${{ secrets.SONATYPE_PASS }}
      PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
      PGP_SECRET: ${{ secrets.PGP_SECRET }}
    steps:
      - name: Check for secrets.SONATYPE_USER
        if: ${{ env.SONATYPE_USER == '' }}
        run: |
          echo '"SONATYPE_USER" secret not set'
          echo 'please go to "settings > secrets > actions" to create it'
      - name: Check for secrets.SONATYPE_PASS
        if: ${{ env.SONATYPE_PASS == '' }}
        run: |
          echo '"SONATYPE_PASS" secret not set'
          echo 'please go to "settings > secrets > actions" to create it'
      - name: Check for secrets.PGP_PASSPHRASE
        if: ${{ env.PGP_PASSPHRASE== '' }}
        run: |
          echo '"PGP_PASSPHRASE" secret not set'
          echo 'please go to "settings > secrets > actions" to create it'
      - name: Check for secrets.PGP_SECRET
        if: ${{ env.PGP_SECRET== '' }}
        run: |
          echo '"PGP_SECRET" secret not set'
          echo 'please go to "settings > secrets > actions" to create it'
      - name: Export tty
        run: |
          echo "GPG_TTY=$(tty)" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: Setup cache
        uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7
      - name: setup Scala
        uses: coursier/setup-action@039f736548afa5411c1382f40a5bd9c2d30e0383 # v1.3.9
        with:
          apps: scala:2.13.14 scalac:2.13.14 scaladoc:2.13.14 sbt:1.11.2
          jvm: "temurin:1.8.0-442"
      - name: Setup GPG
        shell: bash -l {0}
        run: |
          echo "$PGP_SECRET" | base64 --decode | gpg --import --batch --yes
      - name: Build and sign artifacts
        shell: bash -l {0}
        run: |
          sbt +publishSigned
      - name: Release to Sonatype
        shell: bash -l {0}
        run: |
          sbt sonaRelease
